*.pyc
*.egg-info
_build
build
dist


Makefile
moc_*.*
ui_*.h
*.moc
*.o
*.so
*.dll
*.dylib
*.exe
*.app
*.pro.user
*.Debug
*.Release
.qmake.stash

server/bin
server/player_tester/Makefile
server/player_tester/player_tester
server/player_tester/tutorial
server/tests/libFunq
server/tests/protocole
tests-functionnal/funq-test-app/funq-test-app
tests-functionnal/screenshot-errors/
tests-functionnal/screenshots/
