*.pyc
*.egg-info
build
dist

Makefile
moc_*.*
ui_*.h
*.moc
*.o
*.so
*.dll
*.dylib
*.exe
*.app
*.pro.user
*.Debug
*.Release
cmake_install.cmake
CMakeLists.txt.user
CMakeCache.txt

*_autogen/
CMakeFiles/
server/bin
server/player_tester/player_tester
server/player_tester/tutorial
server/tests/libFunq/testLibFunq
server/tests/protocole/testProtocole
tests-functionnal/funq-test-app/funq-test-app
tests-functionnal/screenshot-errors/
tests-functionnal/screenshots/
